# GIT-NPM common
# --------------
# All projects
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules
/coverage
/.nyc_output
/.nyc_tmp
*.sublime-project
*.sublime-workspace

# Project-specific
/chromeExtension/*.zip
/docs/otherPromoAssets
/docs/guigrpa
/example/heroku


# GIT-specific
# ------------
# All projects
/lib

# Project-specific
/chromeExtension/*.js
/chromeExtension/*.eot
/chromeExtension/*.woff
/chromeExtension/*.woff2
/chromeExtension/*.ttf
/chromeExtension/*.svg
/serverLogsApp/*.js
/serverLogsApp/*.eot
/serverLogsApp/*.woff
/serverLogsApp/*.woff2
/serverLogsApp/*.ttf
/serverLogsApp/*.svg
/example/*.js
/example/*.eot
/example/*.woff
/example/*.woff2
/example/*.ttf
/example/*.svg
