# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Others
/coverage
/.extractedApi.md
*.sublime-project
*.sublime-workspace

# GIT extras
/lib
/chromeExtension/*.js
/chromeExtension/*.eot
/chromeExtension/*.woff
/chromeExtension/*.woff2
/chromeExtension/*.ttf
/chromeExtension/*.svg
/serverLogsApp/*.js
/serverLogsApp/*.eot
/serverLogsApp/*.woff
/serverLogsApp/*.woff2
/serverLogsApp/*.ttf
/serverLogsApp/*.svg
/example/*.js
/example/*.eot
/example/*.woff
/example/*.woff2
/example/*.ttf
/example/*.svg
