# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Others
/coverage
/.extractedApi.md
*.sublime-project
*.sublime-workspace
/chromeExtension/*.zip

# NPM extras
/docs
/example
/src
/tools
/test
/package.coffee
/ROADMAP.md
/.travis.yml
/.npmignore
