=noUserSelect
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=allowUserSelect
  -webkit-user-select: all
  -khtml-user-select: all
  -moz-user-select: all
  -ms-user-select: all
  user-select: all

=boxSizing($value)
  -moz-box-sizing: #{$value}
  -webkit-box-sizing: #{$value}
  box-sizing: #{$value}

=animation($value)
  -webkit-animation: #{$value}
  -moz-animation: #{$value}
  -ms-animation: #{$value}
  -o-animation: #{$value}
  animation: #{$value}

=keyframes($value)
  @-webkit-keyframes #{$value}
  @-moz-keyframes #{$value}
  @-ms-keyframes #{$value}
  @-o-keyframes #{$value}
  @keyframes #{$value}

=systemFont
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

+keyframes('fadein {from {opacity: 0;} to {opacity: 1;}}')

*,
*:before,
*:after
  +boxSizing(border-box)

.contentBox
  +boxSizing(content-box)

body
  padding: 0
  margin: 0
  +noUserSelect

#devToolsApp
  +systemFont
  font-size: 12px

.fadeIn
  +animation(fadein 0.2s)

.uiFont
  +systemFont

.allowUserSelect
  +allowUserSelect

// Fast development
#devToolsWrapper
  display: block
